@import "./reset/reset";
@import "./pages/inicio";
@import "./pages/login";
@import "./pages/catalogo";
@import "./pages/formulario";
@import "./pages/admin";
@import "./pages/catalogoS";
@import "./pages/ingredientes";
@import "./components/menu-hamburguesa";
.formulario-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario-pago h5{
    color: white;
    font-weight: bold;
}
.formulario-pago::placeholder{
    font-size: 1.9rem;
}
.btn-pago{
    color: white;
    background-color: red;
    font-size: 1.7rem;
    font-weight: bold;
    border: none;
}
.formulario-pago__imgs{
    display: flex;
    align-items: center;
    width: 100%;
}
.formulario-pago__imgs img{
    width: 70px;
}
.formulario-pago form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;

}
.formulario-pago input{
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
}


